
<div class="container">
<div class="jumbotron">
   
        <h1>
            Cinemas Procinal
        </h1>
            <p>
              Sistema Crud para la gestion  de los usuarios del aplicativo movil 
            </p>
        <p>
          <a class="btn btn-primary btn-lg" href="user/singin">Sing In Now</a>
        </p>
    </div>
</div>
