<!DOCTYPE html>
<html>
  <head>
    <title>Cinemas Procinal</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <!--STYLES-->
      <link rel="stylesheet" href="/styles/bootstrap-theme.css">
      <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
      <link rel="stylesheet" href="/styles/bootstrap.css">
      <link rel="stylesheet" href="/styles/bootstrap.min.css">
      <link rel="stylesheet" href="/styles/importer.css">
      <!--STYLES END-->
    </head>
    <body>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Procinal</a>
          </div>
          
          <div class="collapse navbar-collapse navbar-ex1-collapse ">
            <ul class="nav navbar-nav">
              <li >
                <a href="/">Inicio</a>
              </li>
              <li>
                <a href="/user/form">Registro de Usuarios</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
      <%- body %>
      
      <!--SCRIPTS-->
      <script src="/js/dependencies/sails.io.js"></script>
      <script src="/js/dependencies/jquery.js"></script>
      <script src="/js/bootstrap.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <!--SCRIPTS END-->
    </body>
  </html>